.aboutp{
    font-size: 25px;
    text-indent: 0.5em;
    font-weight: bold;
}

p{
    color: 	#3C3C3C;
}

a.kynlink {
    padding: 0px 5px;
    margin-left: 5px;
    border-radius: 20px;
    color:pink;
}
a.kynlink:hover{
    background-color:pink;
    color: aliceblue;
}

div.kynpink{
  background-color: #FFECEC;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.kynbg{
    background-image: url(../assets/foto/wbg.jpeg);
}

.kynserif{
  font-family: "Noto Serif TC", serif;
}

.kyncrop{
    object-fit: cover;
    border-radius: 15px;
    margin-left:0.5%;
    margin-right:0.5%;
    margin-bottom: 1%;
}

.kynfont{
    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-transform:capitalize;
}

.kyncenter {
    text-align: center;
}

.kynright{
    text-align: right;
}

.kyncolor{
    background-color: 	#FFECEC;
}

.kynmx{
    font-size: 30px;
    color: gray;
}

.kyncard{
    text-transform:capitalize;
}

.back-to-top {
  position: fixed;
  bottom: 20px;         
  right: 20px;          
  background-color:pink;
  color: white;
  padding: 10px 15px;
  border-radius: 30px;
  
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 999;
}

.back-to-top:hover {
  background-color: pink
}
