.aboutp{
    font-size: 25px;
    text-indent: 0.5em;
    font-weight: bold;
}

p{
    color: 	#3C3C3C;
}

a.kynlink {
    padding: 0px 5px;
    margin-left: 5px;
    border-radius: 20px;
    color:pink;
}
a.kynlink:hover{
    background-color:pink;
    color: aliceblue;
}

div.kynpink{
    background-color: #FFECEC;
    width: 780px;
    padding: 20px;
    border-radius: 10px;
}

.kynbg{
    background-image: url(../assets/foto/wbg.jpeg);
}

.kynserif{
  font-family: "Noto Serif TC", serif;
  
}

.kyncenter {
    text-align: center;
}

.kynright{
    text-align: right;
}

.kyncolor{
    background-color: 	#FFECEC;
}

.kynmx{
    font-size: 30px;
    color: gray;
}
